{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "endOfLine": "auto"
}
